*{
	padding:0;
	margin:0;
}

body, html{
	margin: auto;
	font-size:100%;
	/*Da rivedere il font-family;*/
	font-family: Verdana, Helvetica, sans-serif;
	/*Controllare che il bg-color sia compatibile*/
	background-color: #FFCC99;
}

body {
	width: 90%;
	border: 2px solid black;
}

/* Sezione header */

#header{
	background-color: #C63939;
	padding-top: 0.1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color:black;
}

#logo{
	/*Display block non dovrebbe servire in questo caso;*/
	display: block;
	/*Controllare width e height...*/
	width: 10%;
	height: 6em;
	float: left;
	/*Il logo lo lasciamo in formato jpg?*/
	background-image: url(../immagini/logo.jpg);
	background-repeat:no-repeat;
	/*RI-controllare le proporzioni per il logo*/
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#header h1 {
	padding-top: 1em;
	margin-bottom:1.5em;
}

#header form {
	display: block;
	/*Controllare width e height...*/
	float: right;
	margin-top: 5.5em;
	margin-left:0.5em;
}

#header form fieldset {
	border: none;
}

#header legend {
	font-size: 0;
	margin-left: -99999em;
}

/* Sezione path */

#path {
    background-color: #000;
    color: white;
    padding: 0.2em;
    padding-left: 1.0em;
}

#menu{
	float: left;
	width: 18%;
	margin-top: 1.0em;
	margin-right: 1%;
	margin-bottom: 1.0em;
	margin-left: 1%;
}

#menu ul {
	list-style-type: none;
}

#CurrentLink {
	float: left;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	/*Controllare se il colore va bene*/
    color: black;
	text-decoration: none;
	background-color: #CC3300;
	text-align: center;
}

#menu a{
	float: left;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    color: white;
	text-decoration: none;
	background-color: #CC3300;
	text-align: center;
}

/* Cambiare colore */
#menu a:visited {
	color: #A0A;
}

#menu a:hover {
	background-color: orange;
}

/*Sistemare l'inquadratura...*/
#section{
	padding: 2em;
	margin-top: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 1.0em;
	margin-left: 20%;
	background-color: white;
	text-align: center;
}

#footer{
	background-color: black;
    color: white;
    clear: both;
    padding-top:0.5em;	 
}

#tabellaOrari {
	border: 1px solid black;
	
}
#tabellaOrari th, td {
	border: 1px solid black;
	font-size: 1.2em;
	
}

.tabHeaders {
	border: 0.1em solid black;
}

/* Sezione News */
#news {
	border: 0.2em solid black;
	margin-top: 1.0em;
	margin-left: 1.0em;
	margin-right: 1.0em;
	width: 70%;
}

#news h1 {
	font-size: 1.2em;
	border-bottom: 0.2em solid black;
	background-color: #303438;
	font-style:normal;
	color: white;
}

#news ul {
	list-style-type: none;
}

.alternate {
	background-color: #f7f7f7;
}

#news ul > li {
	color: #333;
}

.immev {

width:300px;
height:300px;
}
