/*Togliere i commenti alla fine per avere un file di minori dimensioni*/

*{
	padding:0;
	margin:0;
}

body, html{
	margin: auto;
	font-size:100%;
	/*Da rivedere il font-family;*/
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #D9D9D9; /* contrasto con titolo OK */
}

body {
	width: 90%;
	border: 2px solid black;
}

/* Sezione header */

#header{
	background-color: #800000 ;
	padding-top: 0.1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: white;
}

#login {
	display:none;
}

#logo{
	width: 6em;
	height: 6em;
	float: left;
	/*Il logo lo lasciamo in formato jpg?*/
	background-image: url(../immagini/logo.png);
	background-repeat:no-repeat;
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#header h1 {
	padding-top: 1em;
	margin-bottom:1.5em;
	padding-left: 15%;
}

/* Sezione path */

#path {
    background-color: #000000;
    color: white;
    padding: 0.2em;
    padding-left: 1.0em;
}

/* Sezione menù */

#menu{
	float: left;
	width: 18%;
	margin-top: 1.0em;
	margin-right: 1%;
	margin-bottom: 1.0em;
	margin-left: 1%;
}

#menu ul {
	list-style-type: none;
}

#CurrentLink {
	float: left;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    	color: black;
	font-weight: bold;
	text-decoration: none;
	background-color: #FD6F2C; /* contrasto con testo OK */
	text-align: center;
}

#menu a{
	float: left;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;    	
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: #990000;
	text-align: center;
}

/*a:visited colore diverso???*/

#menu a:hover {
	text-align: center;
	color: #990000;
	background-color: white;
	text-decoration:underline;
	
	
	
}

/* section */

/*Sistemare l'inquadratura...*/

#section{
	padding: 2em;
	margin-top: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 1.0em;
	margin-left: 20%;
	background-color: white;
}

#ricerca{
	border: none;
	float: right;
	width: 30%;
}

.casella_input{
  height: 2.5em;
  background: #FFE9B9; /* contrasto con testo OK */
  color: #000000;
  border: none;
  font-size: 10pt;
  border-radius: 5px;
  padding-left: 1%;
}

#cerca{
	float: right;
}

#footer{
	background-color: #000000;
    clear: both;
    padding-top:0.3em;	 
}

#tabellaOrari {
	width: 100%;
	table-layout: fixed; 
	padding: 0.5em;
	text-align: center;
}

#tabellaOrari th{
	background-color: #FF6633;
	padding: 1em;
}

#tabellaOrari th, td {
	border: 1px solid black;
	word-wrap: break-word;
}

#tabellaOrari tr:nth-child(even) {background-color: #FFFF99}

.tabHeaders {
	border: 0.1em solid black;
}

/* Sezione News */

#news {
	border: 0.2em solid black;
	margin-top: 1.0em;
	width: 70%;
}

#news h2 {
	font-size: 1.2em;
	border-bottom: 0.2em solid black;
	background-color: #303438;
	font-style: normal;
	color: white;
	padding: 0.5em;
}

#news ul {
	list-style-type: none;
	padding: 0.5em;
}

.alternate {
	background-color: #f7f7f7;
}

#news ul > li {
	color: #333;
}
/* immagini di un evento */
.immev {
width: 300px;
height: 300px;
}

#section p {
	padding-bottom:0.5em;
}

/* Pagina "dove siamo" */
#info {
	padding-bottom:0.8em;
	padding-left:1.5em;
	color:
}

/* nasconde i link,spostandoli dalla visualizzazion, serve solo per lo screen reader*/
a.nascosto{
	position: absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow: hidden		;
}

/* questa clausula si può anche togliere,serve solo a visualizzare il link quando lo scorri con i vari tab */
a:focus.nascosto 
{ 
position:static; 
width:auto; 
height:auto; 
} 


.listaEventi{
	padding-top: 1%;
	border-style:dashed;
	border-color:blue;
	display:block;
	width: 200px;
	height: 200px;
	background-image: url(../immagini/logoEventi.jpg);
	background-repeat:no-repeat;
}

.linkAncore{
	font-size: 80%;
	display:block;
	padding-top: 2%;
	border-style:double;
	border-color:green;
}
